/* In common */

html {
    background-color: rgb(245,245,220);
    text-align: center;
    margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6, p, a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(000,128,128);
}

.button {
    background-color: rgb(000,128,128);
    border: none;
    margin: 4px;
    color: rgb(245, 245, 220);
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
}

footer {
	position: fixed;
    left: 0;
    bottom: 0;
	width: 100%;
    background-color: rgb(000,128,128);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(245,245,220);
}

footer *{ 
    color: rgb(245,245,220);
    text-decoration: none;
}


footer p{
	margin-bottom: 0.5%; 
	margin-top: 0.5%;
}


.button2{
    background-color: rgb(245, 245, 220);
    border: none;
    margin: 2px;
    color: rgb(000,128,128);
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
}

/* Index */

#pulminoh{
    border-radius: 15px 15px 15px 15px;
    max-width:100%;
    height:auto;
    border: 3px solid rgb(000,128,128);

}

#psico{
    border-radius: 25px;
    word-wrap: break-word;
    width: auto;
    max-width: 70%;
    margin: auto;
    border: 3px solid rgb(000,128,128);
    padding: auto;
}

/* Elenco */

table, th, td {
    border: 1px solid rgb(0,0,0);
    border-collapse: collapse;
    width: auto;
    margin: auto;
    padding: auto;
}

.Number{
    text-align: center;
    color: rgb(255,0,0);
    font-weight: bold;
}

.table{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Orario */

#orario{
    max-width:100%;
    height:auto;
    border-radius: 4% 4% 4% 4%;
    border: 3px solid rgb(000,128,128);
}

/* Classeviva */

#cvv{
    width: 100%;
    height: 490px;
    border-radius: 20px 20px 20px 20px;
    border: 3px solid rgb(000,128,128);
}